<div class="user-b">
<div class="user-show">
<section class="booked">
	<h2>Bookmarked Novels</h2>
	<ul>
		<% @unovel = @user.get_voted Novel.includes(:chapters).order("chapters.created_at desc") %>
		<%= render 'shared/unovel' %>
	</ul>
</section>
<section class="yours">
	<h2><%= @user.name %>'s Novels</h2>
	<ul>
		<% @unovel = @user.novels %>
		<%= render 'shared/unovel' %>
	</ul>
</section>
</div>
</div>