<% unless user_signed_in? %>
<div id="banner">
	<div id="intro">
		<h1>Light Novel Archives</h1>
		<p>Share, Read and Discuss the latest in Fiction</p>
		<div id="signup">
			<%= link_to "Sign Up", new_user_registration_path  %>
		</div>
	</div>
</div>
<% else %>
	<h1>Most Bookmarked</h1>
	<% Novel.limit(3).each do |novel| %>
	  <p><%= novel.title %></p>
	<% end %>
	<h1>Newest Update</h1>
	<% Chapter.limit(3).each do |chapter| %>
		<p><%= chapter.title %></p>
	<% end %>
<% end %>