<div class="user-show">
<h2>Latest Updates</h2>
<% if @updates.any? %>
	<ul>
		<%= render @updates %>
	</ul>
	<div class="paginate"><%= will_paginate @updates, previous_label: "<", next_label: ">" %></div>
<% end %>
</div>
