<div class="chapter-form">
<h2>Edit Chapter</h2>
<%= simple_form_for([@novel, @chapter]) do |f| %>
<div class="chap-title"><%= f.input :title, required: true, placeholder: "Volume 1, Chapter 4: Hot Summer Night", label: false %></div>
  <%= f.input :content, required: true %>
  <div class="form-actions">
  <%= f.button :submit, "Publish Chapter" %>
  </div>
<% end %>
</div>