<div class="chapter-form">
<h2>New Chapter</h2>
<%= simple_form_for([@novel, Chapter.new]) do |f| %>
  <div class="chap-title"><%= f.input :title, required: true, placeholder: "Volume 1, Chapter 4: Hot Summer Night", label: "Maximum of 140 characters" %></div>	
  <%= f.input :content, required: true, placeholder: "The text will be html_safe", label: false %>
  <div class="form-actions">
  <%= f.button :submit, "Publish Chapter" %>
  </div>
<% end %>
<p class="notice">Any content not written/translated by the user himself can be removed without notice if the original author/translator requests them to be taken down.</p>
</div>