<p>Title: <%= @chapter.title %></p>
<p>Content: <%= @chapter.content %></p>
<% if current_user == @chapter.novel.user || current_user.try(:admin?) %>
	<%= link_to "Edit", "#{@chapter.id}/edit" %>
<% end %>
