.nightmode > .chapter-show {
  background-color: black;
  p {
    color: lightgray;
  }
}

.chapter-show {
  padding-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  @include media($mobile) {
    padding-left: 5%;
    padding-right: 5%;
  }

  @include media($mediumgrid) {
    padding-left: 12%;
    padding-right: 12%;
  }

  @include media($largegrid) {
    padding-left: 20%;
    padding-right: 20%;
  }

  @include media($maxgrid) {
    padding-left: 28%;
    padding-right: 28%;
  }

  h2 {
    padding-top: 50px;
    text-align: center;
    color: $orange;
    font-family: Lato;
  }
  a {
    color: $orange;
    padding-right: 20px;
  }
  p {
    padding-top: 40px;
    white-space: pre-wrap;
    font-family: Merriweather;
    line-height: 2;
    font-size: 1.1em;
  }
}

.chapter-form {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 100px;
  .chap-title {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
  }
  @include media($mobile) {
    width: 90%;
    .chap-title {
      margin-left: auto;
      margin-right: auto;
      width: 95%;
    }
    textarea {
      min-height: 400px;
    }
  }

  @include media($mediumgrid) {
    width: 85%;
    textarea {
      min-height: 600px;
    }
  }

  @include media($largegrid) {
    width: 840px;
    textarea {
      min-height: 800px;
    }
  }

  @include media($maxgrid) {
    width: 840px;
    textarea {
      min-height: 1000px;
    }
  }

  h2 {
    text-align: center;
    color: $orange;
    font-family: Lato;
  }
  a {
    color: $orange;
  }
  p {
    font-weight: 300;
  }
  .input {
    margin-top: 30px;
  }
}

.form-actions {
  margin-top: 10px;
  float: right;
}

.novel-links {
  text-align: center;
  margin: 30px;
  a {
    margin: 10px;
  }
}