.footer {
  position: relative;
  bottom: 0;
}

.boot {
  width: 100%;
  background-color: #f1f1f1;
  padding: 35px;
  text-align: center;
  a {
    font-family: Lato;
    color: $orange;
  }
}

.linkss {
  padding: 70px 0 70px 0;
  text-align: center;
  ul > li {
    display: inline;
    a {
      color: white;
      font-family: Lato;
      font-size: 1.1em;
      @include media($mobile) {
        margin-left: 10px;
        margin-right: 10px;
      }

      @include media($mediumgrid) {
        margin-left: 40px;
        margin-right: 40px;
      }

      @include media($largegrid) {
        margin-left: 80px;
        margin-right: 80px;
      }

      @include media($maxgrid) {
        margin-left: 80px;
        margin-right: 80px;
      }
    }
  }
  width: 100%;
  background: rgba(233, 137, 53, 0.78);
  background: -moz-linear-gradient(left, rgba(233, 137, 53, 0.78) 0%, rgba(233, 137, 53, 0.77) 0%, rgba(233, 137, 53, 0.77) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(233, 137, 53, 0.78)), color-stop(0%, rgba(233, 137, 53, 0.77)), color-stop(100%, rgba(233, 137, 53, 0.77)));
  background: -webkit-linear-gradient(left, rgba(233, 137, 53, 0.78) 0%, rgba(233, 137, 53, 0.77) 0%, rgba(233, 137, 53, 0.77) 100%);
  background: -o-linear-gradient(left, rgba(233, 137, 53, 0.78) 0%, rgba(233, 137, 53, 0.77) 0%, rgba(233, 137, 53, 0.77) 100%);
  background: -ms-linear-gradient(left, rgba(233, 137, 53, 0.78) 0%, rgba(233, 137, 53, 0.77) 0%, rgba(233, 137, 53, 0.77) 100%);
  background: linear-gradient(to right, rgba(233, 137, 53, 0.78) 0%, rgba(233, 137, 53, 0.77) 0%, rgba(233, 137, 53, 0.77) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e98935', endColorstr='#e98935', GradientType=1 );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d35400', endColorstr='#f39c12', GradientType=1 );
}