.timestamp {
  text-align: right;
  font-family: Lato;
  color: gray;
  font-weight: 300;
  margin-top: -15px;
  font-size: 0.8em;
  padding-right: 13px;
}

.paginate {
  text-align: center;
  font-family: Lato;
  a {
    color: $orange;
  }
}

.novel-show {
  margin-bottom: 20px;
  img {
    display: block;
    position: absolute;
    top: 50px;
  }
  .chapters {
    li {
      border: 1px solid $orange;
      border-radius: 3px;
      a {
        color: $orange;
        font-family: Lato;
      }
      .misc {
        float: right;
        color: $orange;
      }
      .date {
        float: right;
        color: gray;
        font-family: Lato;
        font-weight: 300;
      }
    }
  }
}

.notice {
  padding-top: 70px;
}

.novel-info {
  background: rgba(247, 182, 52, 1);
  background: -moz-linear-gradient(left, rgba(247, 182, 52, 1) 0%, rgba(247, 182, 52, 0.76) 0%, rgba(230, 126, 34, 0.76) 70%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(247, 182, 52, 1)), color-stop(0%, rgba(247, 182, 52, 0.76)), color-stop(70%, rgba(230, 126, 34, 0.76)));
  background: -webkit-linear-gradient(left, rgba(247, 182, 52, 1) 0%, rgba(247, 182, 52, 0.76) 0%, rgba(230, 126, 34, 0.76) 70%);
  background: -o-linear-gradient(left, rgba(247, 182, 52, 1) 0%, rgba(247, 182, 52, 0.76) 0%, rgba(230, 126, 34, 0.76) 70%);
  background: -ms-linear-gradient(left, rgba(247, 182, 52, 1) 0%, rgba(247, 182, 52, 0.76) 0%, rgba(230, 126, 34, 0.76) 70%);
  background: linear-gradient(to right, rgba(247, 182, 52, 1) 0%, rgba(247, 182, 52, 0.76) 0%, rgba(230, 126, 34, 0.76) 70%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7b634', endColorstr='#e67e22', GradientType=1 );
  h3 {}
  a {
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    font-family: Lato;
    font-weight: bold;
  }
  p {
    color: white;
    padding-top: 20px;
    font-size: 1.1em;
    white-space: pre-wrap;
  }
  h1 {
    color: white;
    margin: 0;
    font-family: Lato;
    span {
      color: white;
      font-family: Lato;
    }
  }
}

@include media($mobile) {
  .novel-show {
    img {
      width: 100%;
    }
    .chapters {
      li {
        margin: 10px 10px 0 10px;
        padding: 20px 40px 40px 40px;
        .misc {
          margin-left: 15px;
        }
      }
    }
  }
  .novel-info {
    margin-top: 150%;
    height: 100%;
    padding: 5%;
    .mark {
      margin-top: 15px;
    }
    a {
      padding: 4px 8px 4px 8px;
      font-size: 0.7em;
    }
    h1 {
      font-size: 0.9em;
      span {
        font-size: 2.2em;
        margin-right: 20px;
        font-weight: 300;
      }
    }
  }
}


@include media($mediumgrid) {
  .novel-show {
    img {
      width: 30%;
      padding: 3%;
    }
    .chapters {
      margin-left: 20px;
      margin-right: 20px;
      li {
        margin-top: 20px;
        padding: 20px 40px 20px 40px;
        .misc {
          margin-left: 15px;
        }
      }
    }
  }
  .novel-info {
    height: 100%;
    padding: 3% 5% 5% 30%;
    .mark {
      margin-top: 15px;
    }
    a {
      padding: 4px 8px 4px 8px;
      font-size: 0.7em;
    }
    h1 {
      font-size: 0.9em;
      span {
        font-size: 2.2em;
        margin-right: 20px;
        font-weight: 300;
      }
    }
  }
}


@include media($largegrid) {
  .novel-show {
    img {
      width: 300px;
      padding: 0;
    }
  }
  .chapters {
    margin-left: 300px;
    li {
      margin: 20px 20px 0 0;
      padding: 20px 40px 20px 40px;
      border: 1px solid $orange;
      border-radius: 3px;
      a {
        color: $orange;
        font-family: Lato;
      }
      .misc {
        margin-left: 15px;
        float: right;
        color: $orange;
      }
      .date {
        float: right;
        color: gray;
        font-family: Lato;
        font-weight: 300;
      }
    }
  }
  .novel-info {
    height: 450px;
    padding: 40px 40px 0 360px;
    .mark {
      margin-top: 30px;
    }
    p {
      font-size: 1em;
    }
    a {
      padding: 8px 16px 8px 16px;
      font-size: 1em;
    }
    h1 {
      font-size: 1em;
      span {
        font-size: 3.3em;
        margin-right: 20px;
        font-weight: 300;
      }
    }
  }
}


@include media($maxgrid) {
  .novel-show {
    img {
      width: 300px;
      padding: 0;
    }
    .chapters {
      margin-left: 300px;
      li {
        margin: 20px 20px 0 0;
        padding: 20px 40px 20px 40px;
        .misc {
          margin-left: 15px;
        }
      }
    }
  }
  .novel-info {
    height: 450px;
    padding: 30px 40px 0 360px;
    .mark {
      margin-top: 30px;
    }
    p {
      font-size: 1.2em;
    }
    a {
      padding: 8px 16px 8px 16px;
      font-size: 1em;
    }
    h1 {
      font-size: 1.1em;
      span {
        font-size: 3.3em;
        margin-right: 20px;
        font-weight: 300;
      }
    }
  }
}


.novel-form {
  margin-left: auto;
  margin-right: auto;
  width: 450px;
  margin-top: 50px;
  @include media($mobile) {
    width: 330px;
  }

  h2 {
    text-align: center;
    color: $orange;
    font-family: Lato;
  }
  a {
    color: $orange;
  }
  p {
    font-weight: 300;
  }
  textarea {
    min-height: 300px;
  }
  @include media($mobile) {
    margin-bottom: 15em;
  }

  @include media($mediumgrid) {
    margin-bottom: 40em;
  }

  @include media($largegrid) {
    margin-bottom: 43em;
  }

  @include media($maxgrid) {
    margin-bottom: 43em;
  }
}

.form-actions {
  margin-top: -40px;
  float: right;
}