.session {
  margin-left: auto;
  margin-right: auto;
  width: 450px;
  margin-top: 50px;
  @include media($mobile) {
    width: 330px;
  }

  h2 {
    text-align: center;
    color: $orange;
    font-family: Lato;
  }
  a {
    color: $orange;
  }
  p {
    font-weight: 300;
  }
  @include media($mobile) {
    margin-bottom: 15em;
  }

  @include media($mediumgrid) {
    margin-bottom: 40em;
  }

  @include media($largegrid) {
    margin-bottom: 43em;
  }

  @include media($maxgrid) {
    margin-bottom: 43em;
  }
}

.form-actions {
  float: right;
}