<div class="footer">
	<div class="linkss">
		<ul>
			<li><%= link_to "Most Popular", popular_path %></li>
			<li><%= link_to "LNA", root_url %></li>
			<li><%= link_to "Latest Updates", newest_path %></li>
			<li></li>
		</ul>
	</div>
	<div class="boot">
	<%= link_to "See Source Code on Github", "https://github.com/michaelryu/lightnovel", target: '_blank' %>
	</div>
</div>